certifi
cycler
einops
fonttools
imageio
kiwisolver
matplotlib
numpy
olefile
opencv-python
packaging
pandas
Pillow
ptflops
pyparsing
python-dateutil
scipy
setuptools-scm
six
timm
tomli
torch
torchaudio
torchvision
tqdm
typing-extensions
